:root {
    --thm-font-2: 'Montserrat', sans-serif;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-danger: #ed202b!important;
    --dark-black: #1f2021;
}

* {
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
    font-size: 100%;
}


/* Element Styling .elementor*/

html {
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #545454;
}

html,
body {
    overflow-x: hidden;
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

p,
span,
.menu-list>li {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    line-height: 22px;
    margin: 0;
}

.logo-box {
    position: absolute;
    background-image: url('../images/home4-logo-shape.png');
    width: 312px;
    height: 247px;
    z-index: 10;
}

.logo-box {
    position: absolute;
    left: 0;
    top: 2%;
    background: url('../images/home4-logo-shape.png');
    z-index: 9999;
    width: 312px;
    height: 247px;
    top: -30px;
    left: 0px;
}

.logo-box>a {
    position: relative;
}

.logo-box .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 161px;
    height: 57px;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.social-apps>li>a {
    color: rgba(255, 255, 255, 0.50);
    margin-left: .5rem;
}

.social-apps>li>a:hover {
    color: #fff;
}

.main-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-menu>li {
    position: inherit;
    display: inline-block;
}

.main-menu>li.active {
    color: var(--bs-danger);
}

.main-menu>li>a {
    font-size: 1rem
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: inherit;
    width: 250px;
    padding: 0px 0;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
    -moz-transform: translateY(30px);
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
    transition: all 100ms ease;
    z-index: 100;
}

.main-menu>li>a {
    position: relative;
    display: block;
    padding: 10px;
    color: #172746;
    font-size: 14px;
    line-height: 30px;
    font-weight: 600;
    text-transform: capitalize;
    transition: all 500ms ease;
    font-family: var(--thm-font-2);
    opacity: 1;
    z-index: 1;
}

.main-menu>li>a>i {
    font-size: 16px;
}

.main-menu>li:active .dropdown-menu,
.main-menu>li:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.nav-btn {
    position: relative;
    float: left;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.nav-btn .bar {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #252628;
    top: 0px;
    right: 0px;
    margin-top: 5px;
    transition: all 500ms ease;
}

.nav-btn:hover .bar {
    width: 30px;
    background: var(--bs-warning);
}

.nav-btn .bar:nth-child(2) {
    top: 9px;
    width: 28px;
}

.nav-btn .bar:last-child {
    top: 18px;
}

#main-carousel .item {
    position: relative;
    width: 100%;
}

#main-carousel .item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 2;
    mix-blend-mode: color;
    mix-blend-mode: hue;
    mix-blend-mode: hard-light;
}

#main-carousel .item>.slider-content {
    z-index: 100;
}

.slider-content {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-20%, -50%);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    z-index: 10;
}

.pattern-layer {
    z-index: 0;
}

.slider-content>h1,
.slider-content>h6,
.slider-content>p {
    color: #fff;
}

.upper-title {
    position: relative;
    margin-left: 3rem;
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: 3px;
}

.upper-title::before {
    content: '';
    position: absolute;
    top: 60%;
    left: -17%;
    transform: translateY(-60%);
    height: 2px;
    width: 35px;
    background-color: var(--bs-danger);
}

.feature-block {
    position: relative;
    display: block;
    border-radius: 1rem;
    background: #fff;
    box-shadow: 0px 10px 50px 0px rgb(26 46 85 / 10%);
    padding: 30px 40px;
    height: auto;
    z-index: 100;
    margin-top: -2rem;
}

.feature-block:hover {
    background-color: var(--bs-danger);
    transition: all .5s ease-in-out;
}

.feature-block:hover *,
.feature-block:active * {
    color: #fff;
}

.house-roof {
    position: absolute;
    background: url('../images/shape-1.png') center center no-repeat;
    width: 201px;
    height: 77px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -77px;
    z-index: 1;
}

.feature-block:hover .house-roof {
    background: url('../images/shape-2.png') center center no-repeat;
    transition: all .5s ease-in-out;
}

.feature-title,
.feature-text {
    color: #172746;
}

.icon-box {
    margin-top: -2rem;
    z-index: 10;
}

.about-home-four {
    position: relative;
}

.image-box,
.image-box .image {
    position: relative;
    display: block;
}

.image-box .image {
    border-radius: 15px;
}

.image-box .image-shape-1 {
    position: absolute;
    top: -80px;
    width: 243px;
    height: 243px;
    background-repeat: no-repeat;
}

.image-box .image-shape-2 {
    position: absolute;
    bottom: 210px;
    width: 143px;
    height: 143px;
    background-repeat: no-repeat;
}

.image-box .image-2 {
    position: absolute;
    top: 0px;
}

.image-box .image-3 {
    position: absolute;
    bottom: 0px;
}

.icon-rounded-circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #fde8e9;
}

.pattern-layer .pattern-1 {
    background: url('../images/shape-5.png');
    left: -360px;
    visibility: visible;
    animation-duration: 1500ms;
    animation-delay: 0ms;
}

.about-home-four .pattern-layer .pattern-1 {
    position: absolute;
    left: -150px;
    bottom: 40px;
    width: 479px;
    background-repeat: no-repeat;
}

.nav-pills {
    z-index: 1000 !important;
}

.nav-pills .nav-link {
    color: #fff;
    background: #363738;
    border-radius: .5rem;
    padding: 1.5rem 1rem;
    transition: all .3s ease;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    position: relative;
    color: #fff;
    background-color: var(--bs-danger);
}

.nav-pills .nav-link.active::before {
    position: absolute;
    content: '';
    background: #ed202b;
    width: 26px;
    height: 26px;
    left: 50%;
    bottom: -10px;
    opacity: 1;
    z-index: 1;
    transform: translateX(-50%) rotate( 45deg);
    transition: all .3s ease;
}

.nav-pills .nav-link>h4 {
    font-size: 20px;
}

.img-layer-2 {
    right: 0px;
    bottom: -70%;
    z-index: 3;
}

.menu-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.menu-list>li {
    display: flex;
    align-items: start;
}

.col-md-6 .image-shape-1 {
    position: absolute;
    left: -70px;
    bottom: -150px;
    width: 193px;
    height: 193px;
    background-repeat: no-repeat;
}

#our-services .pattern-layer .pattern-1 {
    position: absolute;
    left: 0px;
    bottom: 285px;
    width: 223px;
    height: 369px;
    background-repeat: no-repeat;
    z-index: 0;
}

#our-services .pattern-layer .pattern-2 {
    position: absolute;
    right: 0px;
    bottom: 50px;
    width: 615px;
    height: 775px;
    background-repeat: no-repeat;
    z-index: 0;
}

.content-shape {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 213px;
    height: 213px;
    background-repeat: no-repeat;
}

.counter-box {
    position: relative;
    display: block;
    background: #fff;
    border-radius: 20px;
    padding: 40px 30px 33px 30px;
    box-shadow: 0px 10px 50px 0px rgb(26 46 85 / 10%);
}

.counter-box:hover .icon-rounded-circle {
    background-color: var(--bs-danger);
    transition: all .5s ease-in-out;
}

.counter-box:hover .icon-rounded-circle>i {
    color: #fff !important;
}

.overlay-card {
    position: relative;
    display: block;
    overflow: hidden;
    background: #f8f5ee;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 30px;
    padding: 50px 30px 15px;
}

.overlay-card .icon-box {
    position: relative;
    display: block;
    font-size: 60px;
    line-height: 60px;
    color: #ed202b;
    margin-bottom: 15px;
}

.overlay-card .overlay-text {
    position: absolute;
    left: 0px;
    top: 20px;
    width: 100%;
    height: 100%;
    padding: 35px 30px 34px 30px;
    border-radius: 20px;
    background: #ed202b;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    transition: all 500ms ease;
}

.overlay-card:hover .overlay-text {
    top: 0px;
    visibility: visible;
    opacity: 1;
}

.overlay-card:hover .overlay-text {
    background: #ed202b!important;
    background-color: #ed202b!important;
}

.overlay-card:hover .icon-box {
    z-index: 0;
}

#bg-shape {
    position: absolute;
    top: 15%;
    right: 5%;
    z-index: -1
}

#testimonials {
    position: relative;
    background: url('../images/shape-13.png') center center/cover no-repeat;
    padding: 8rem 0;
}

.testimonial-card {
    position: relative;
}

.owl-carousel .owl-item img {
    display: block;
    width: inherit !important
}

.testimonial-card {
    position: relative;
    display: block;
    height: 400px;
    background-color: transparent;
    width: 100%;
    z-index: 1;
}

.testimonial-card .img-box>img {
    position: absolute;
    display: block;
    top: 0;
    right: 60px;
    z-index: 10;
}

.testimonial-card .card-inner {
    position: absolute;
    display: block;
    top: 45px;
    background: #ffffff;
    padding: 20px 30px 30px;
    border-radius: 15px;
}

.testimonial-card .text {
    position: relative;
    display: block;
    padding: 0 0 1rem
}

.testimonial-card .text p {
    color: #252628;
}

.testimonial-card .client-info {
    position: relative;
    display: block;
}

.testimonial-card .client-info h3 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    margin: 0 0 3px;
}

.star-rating>li>i {
    margin-right: -5px;
}

.owl-dots .owl-dot {
    margin-right: 2rem !important;
}

.owl-carousel#testimonials-carousel .owl-dots .owl-dot.active>button {
    margin-right: 1rem !important;
}

.owl-dots .owl-dot.disabled {
    background-color: #d9d9d9;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    width: 30px;
    border-radius: 10px;
    background: var(--bs-danger);
}

.owl-dots .owl-dot {
    position: relative;
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #d9d9d9;
    border: 0px solid transparent;
    margin: 0px;
    padding: 0px;
    border-radius: 50%;
    transition: all 100ms linear;
    transition-delay: 0.1s;
}

.owl-carousel#designs-carousel .item {
    position: relative;
    z-index: 1;
}

.owl-carousel#designs-carousel .item::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    visibility: visible;
    z-index: 1;
}

.owl-carousel#designs-carousel .item .icon-rounded-circle,
.owl-carousel#designs-carousel .item .d-block {
    position: absolute;
    z-index: 5;
    visibility: visible;
    opacity: 1;
}

.owl-carousel#designs-carousel .item .d-block {
    bottom: 5%;
}

.owl-carousel#designs-carousel .item .icon-rounded-circle {
    background-color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.owl-carousel#designs-carousel .item .icon-rounded-circle>i {
    color: var(--bs-danger);
}

.owl-carousel#designs-carousel .item .icon-rounded-circle:hover {
    background-color: var(--bs-danger);
    transition: all .5s ease-in-out;
}

.owl-carousel#designs-carousel .item .icon-rounded-circle:hover .owl-carousel#designs-carousel .item .icon-rounded-circle>i,
.owl-carousel#designs-carousel .item a,
.owl-carousel#designs-carousel .item p {
    color: #fff;
}

.owl-carousel#designs-carousel .item a:hover {
    color: var(--bs-danger);
}

.overlay-item:hover .icon-rounded-circle {
    visibility: visible;
    opacity: 1;
}

figure {
    max-width: 100%;
    display: block;
}

.section-block {
    position: relative;
    height: auto;
}

.section-block .pattern-1,
.section-block .pattern-2 {
    position: absolute;
}

.section-block .pattern-1 {
    height: auto;
    width: 100%
}

.bg-light-grey {
    background-color: #f6f3ec !important;
}

.team-block {
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 10px 50px 0px rgb(26 46 85 / 10%);
}

.team-block .inner-box .image-box {
    position: relative;
    display: block;
    overflow: hidden;
    background: #f6f3ec;
    transition: all 500ms ease;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 100%;
}

.team-block .inner-box:hover .image-box {
    background: #1f2021;
}

.team-block .inner-box,
.cursor-cell {
    cursor: cell;
}

.team-block .inner-box:hover .image-box img {
    transform: scale(1.05);
    opacity: 0.5;
}

.team-block .inner-box .image-box img {
    transition: all 500ms ease;
}

.team-block .lower-content {
    position: relative;
    display: block;
    padding: 15px 20px;
    margin: 0;
    background: #ed202b;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.team-block .lower-content .shape {
    position: absolute;
    background-repeat: no-repeat;
    height: 34px;
    width: 100%;
    left: 0;
    top: -35px;
}

.team-block .lower-content h4 {
    display: inline-block;
    color: #fff;
    transition: all 500ms ease;
}

.designation {
    position: relative;
    display: block;
    font-size: 15px;
    color: #fff;
}

.team-block .share-box {
    position: absolute;
    top: 20%;
    right: 20px;
    z-index: 100;
}

.team-block .share-box:before {
    position: absolute;
    content: '';
    background: transparent;
    width: 100%;
    height: 15px;
    left: 0px;
    top: -15px;
}

.team-block .share-box:hover .share-icon {
    color: #ed202b
}

.team-block .share-box .share-icon {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #222;
    background: #fff;
    text-align: center;
    border-radius: 50%;
    transition: all 500ms ease;
}

.team-block .share-box:hover .share-links {
    bottom: 25px;
    opacity: 1;
    transform: scaleY(1);
}

.team-block .share-box .share-links {
    position: absolute;
    right: 0px;
    bottom: 45px;
    transform: scaleY(0);
    transform-origin: bottom center;
    opacity: 0;
    transition: all 500ms ease;
}

.team-block .share-box .share-links li {
    position: relative;
    display: block;
    margin-bottom: 10px;
}

.team-block .share-box .share-links li a {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #222;
    background: #fff;
    text-align: center;
    border-radius: 50%;
    transition: all 500ms ease;
}

.team-block .share-box .share-links li a:hover {
    color: #ed202b
}

.accordion>.accordion-item:first-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.accordion-btn-text.active {
    color: var(--bs-danger);
}

.faq-style1-area .image-box {
    position: relative;
}

.faq-style1-area .image-box img {
    border-radius: 20px;
}

.bg-layer {
    position: absolute;
    top: -15%;
    right: -15%;
    background: var(--bs-danger);
    height: 270px;
    width: 270px;
    border-radius: 15px;
    z-index: 0;
}

#how-we-work {
    background: url('../images/shape-19.png') center center/cover no-repeat;
}

#how-we-work .process-block .inner-box {
    position: relative;
    display: block;
    padding-left: 30px;
    padding-right: 30px;
}

.process-block .inner-box .icon-box {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    border: 2px dashed rgba(255, 255, 255, 0.15);
    border-radius: 50%;
    margin-bottom: 25px;
    padding: 8px;
}

.process-block .inner-box .icon-box .icon {
    position: relative;
    display: inline-block;
    width: 130px;
    height: 130px;
    line-height: 130px;
    background: #ed202b;
    font-size: 60px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    z-index: 1;
    transition: all 500ms ease;
    background: #ed202b!important;
    background-color: #ed202b!important;
}

.process-block .inner-box .icon-box .icon:hover {
    background: #fff;
    color: #ed202b;
    z-index: 1;
    transition: all 500ms ease;
}

.process-block .inner-box .icon-box .icon:before {
    position: absolute;
    content: '';
    background: #fff;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    transform: scale(0, 0);
    z-index: -1;
    border-radius: 50%;
    transition: all 500ms ease;
}

.process-block .inner-box .icon-box span {
    position: absolute;
    left: -6px;
    top: -6px;
    width: 56px;
    height: 56px;
    line-height: 56px;
    background: #fff;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 600;
    color: #222;
    font-family: 'Montserrat', sans-serif;
    z-index: 1;
    transition: all 500ms ease;
}

.process-block .inner-box h3 {
    position: relative;
    display: block;
    font-size: 22px;
    line-height: 30px;
    color: #fff;
    margin-bottom: 15px;
}

.process-block .inner-box p {
    color: #b5b5b5;
    line-height: 30px;
    margin-bottom: 0px;
}

.single-blog-style1 {
    background: transparent;
}

.single-blog-style1 .img-holder {
    position: relative;
    display: block;
}

.single-blog-style1 .img-holder .inner {
    background: #000;
}

.single-blog-style1 .img-holder .inner {
    position: relative;
    display: block;
    border-radius: 20px;
    overflow: hidden;
}

.single-blog-style1 .img-holder img {
    width: 100%;
}

.single-blog-style1 .img-holder .inner .date-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 119px;
    height: 113px;
    z-index: 2;
}

.single-blog-style1 .img-holder .inner .date-box .shape-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.single-blog-style1 .img-holder .inner .date-box h5 {
    margin: 0;
    position: relative;
    top: 24px;
    right: -22px;
    color: #ffffff;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    transform: rotate( 45deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.single-blog-style1 .img-holder .inner .date-box h5 a {
    color: #ffffff;
}

.single-blog-style1 .text-holder {
    position: relative;
    display: block;
    padding: 23px 0px 0px;
}

.single-blog-style1 .text-holder .meta-info {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 20px;
    margin-bottom: 20px;
    position: relative;
    display: block;
    overflow: hidden;
}

.single-blog-style1 .text-holder .meta-info li {
    position: relative;
    display: block;
    float: left;
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    padding-right: 16px;
    margin-right: 12px;
    font-family: 'Poppins', sans-serif;
}

.single-blog-style1 .text-holder .meta-info li a {
    text-transform: capitalize;
}

.single-blog-style1 .text-holder .meta-info li:last-child {
    margin-right: 0;
    padding-right: 0;
}

.single-blog-style1 .text-holder .blog-title {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.single-blog-style1 .text-holder .blog-title a {
    color: #252628;
    transition: all 200ms linear;
    transition-delay: 0.1s;
}

.elementor .elementor-widget-container {
    -webkit-transition: background .3s, border .3s, -webkit-border-radius .3s, -webkit-box-shadow .3s;
    transition: background .3s, border .3s, -webkit-border-radius .3s, -webkit-box-shadow .3s;
    -o-transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s, -webkit-border-radius .3s, -webkit-box-shadow .3s;
}

.elementor img {
    position: absolute;
    left: 0;
    width: 600px;
    max-width: 100%;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-top: -3.3rem;
    z-index: 0
}

.elementor .col-12 {
    z-index: 10;
}

#contact-info {
    background-color: #1c1c1e;
    color: #fff;
}

.form-control::placeholder {
    color: #000;
}


/* /.Element Styling */


/* Utility Classes */

.text-justify {
    text-align: justify !important
}

.text-gold {
    color: #e7bd1a !important;
}

.btn-danger {
    background-color: var(--bs-danger);
}

.dark-black {
    background-color: var(--dark-black);
}

.montserrat {
    color: #172746;
    font-size: 16px;
    line-height: 30px;
    font-weight: 600;
    text-transform: capitalize;
    transition: all 500ms ease;
    font-family: var(--thm-font-2);
    opacity: 1;
    z-index: 1;
}

.rounded-2 {
    border-radius: 1rem !important;
}

.pattern-layer .pattern-2 {
    position: absolute;
    right: -280px;
    bottom: 70px;
    width: 305px;
    height: 364px;
    background-repeat: no-repeat;
    background: url('../images/shape-6.png');
}

.title {
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;
}

.sub-title {
    color: var(--thm-base);
    font-size: 16px;
    line-height: 1.2em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.06em;
}

.sec-title {
    font-size: 44px;
    line-height: 1.2em;
    font-weight: 800;
    text-transform: none;
}

.column-text {
    font-size: 80%;
    font-weight: bold;
    line-height: .8;
}

.bullet-heading {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
}

.rounded-circle {
    border-radius: 50% !important;
}

.rounded-circle-sm {
    height: 50px !important;
    width: 50px !important;
}

.rounded-circle-sm>i {
    clear: both;
    font-size: 2rem;
    margin: 0;
    padding: 0;
}


/* /.Utility Classes */

#pills-repairContent {
    padding-bottom: 15rem;
}


/*** Media Queries ***/


/* Very Small devices (iPhone 5s and others) */

@media(max-width:360px) {}


/* Small devices (landscape phones, 576px and below) */

@media(max-width:576px) {
    .w-sm-100 {
        width: 100% !important;
    }
    .main-menu>li* {
        padding-top: 0;
        padding-bottom: 0;
    }
    .toggler-link {
        margin-top: -16px;
    }
    .mobile-nav-toggler {
        display: block;
        padding: 12px 0 12px;
        cursor: pointer;
    }
    .mobile-nav-toggler .inner {
        position: relative;
        display: block;
        padding: 3px 5px;
        background: var(--bs-danger);
    }
    .mobile-nav-toggler .icon-bar {
        position: relative;
        display: block;
        background: #ffffff;
        height: 2px;
        width: 30px;
        margin: 7px 5px;
    }
    #main-carousel {
        margin: -1rem 0 1rem 0;
        width: 100%;
    }
    #main-carousel .slider-content {
        display: block;
        width: 100% !important;
        padding: 1rem .5rem;
        top: 20%;
        transform: translate(-20%, -20%);
    }
    #main-carousel .slider-content>.upper-title {
        width: 100%;
        font-size: 90% !important;
    }
    #main-carousel .hero-image {
        object-fit: cover !important;
        height: 90vh;
    }
    .services-container .col-12:not(:last-child) {
        margin-bottom: 10rem;
    }
    .about-home-four.one .image-box .image {
        position: relative !important;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 100%;
        height: auto;
    }
    .about-home-four.one .image-box .image>img {
        width: 100%;
    }
    .sec-title {
        font-size: 36px !important;
        line-height: 1.2em;
    }
    #presentation-pills-tab>.nav-item {
        width: 100%;
        margin-top: 1.3rem;
    }
    .first-img,
    .img-layer-2,
    #pills-tune-up figure {
        max-width: 100%;
    }
    .first-img>img,
    .img-layer-2>img,
    #pills-tune-up figure>img,
    #choose-us {
        width: 100%;
        height: auto;
    }
    #app-counter-section .col-12:first-child {
        margin-top: -7rem;
    }
    .faq-style1-area>.image-box>figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }
    .faq-style1-area>.image-box>figure>img {
        width: 100%;
        height: auto;
    }
    .contact-style1-area.home-4>.image-layer {
        position: relative;
        z-index: 1;
    }
    .contact-style1-area.home-4>.image-layer::after {
        content: '';
        position: absolute;
        background-color: rgba(0, 0, 0, .5);
        height: 100%;
        width: 100%;
        z-index: 2;
    }
    .contact-style1-area.home-4>.image-layer * {
        z-index: 10;
    }
}


/* Medium devices (tablets, 768px and below) */

@media(max-width:768px) {}


/* Medium devices (tablets, 768px and up) */

@media(min-width:768px) {
    .position-md-absolute {
        position: absolute !important;
    }
    .image-box {
        padding-right: 230px;
        margin-right: 40px;
    }
    .image-box .image-shape-2 {
        position: absolute;
        right: -10px;
        bottom: 210px;
        width: 143px;
        height: 143px;
        background-repeat: no-repeat;
    }
    .image-box .image-2 {
        position: absolute;
        top: 0px;
        right: -30px;
        width: 200px;
        height: 270px;
    }
    .image-box .image-3 {
        position: absolute;
        right: 60px;
        bottom: 0px;
    }
    .first-img,
    .img-layer-2 {
        width: 450px;
        height: 250px;
    }
    .roof-tune-up {
        width: 450px;
        height: 532px;
    }
    .up-xl-1 {
        margin-top: -3.5rem;
    }
    .up-xl-2 {
        margin-top: -7rem;
    }
    .feature-block {
        width: 300px;
    }
}


/* Large devices (desktops, 992px and up) */

@media(min-width:992px) {
    .owl-carousel#designs-carousel .item .d-block {
        left: 5%;
    }
}


/* Large devices (desktops, 1024px and below) */

@media(min-width:1024px) {
    .elementor .elementor-widget-container {
        height: 320px;
    }
}


/* X-Large devices (large desktops, 1200px and up) */

@media(min-width:1200px) {}


/* XX-Large devices (larger desktops, 1400px and up) */

@media(min-width:1400px) {}


/*** Media Queries ***/